// Work Detail Page

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 54;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #1b181e 0%,#211e24 100%);

	background-image: url(/assets/intro_noise.png);
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 
		/* Retina-specific stuff here */
		background-image: url(/assets/intro_noise@2x.png);
		background-size: 200px 200px;
	}

	&.after-animation {
		transform: rotate(45deg) translate(0%, 0%);
	}

	&-interior {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		margin: 0 auto;
		transform: translateY(calc(-50% - 40px));

		h2 {
			text-align: center;
		}
	
		iframe,
		img {
			text-align: center;
			display: block;
			margin: 0 auto;
			border: none;
		}

	}

	&-bottom {
		$text-color: #413f45;
		height: 40px;
		width: 100%;
		opacity: .39;
		background: #18161b;
		background: rgba(24, 22, 27, 1);
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 12px;

		.col {
			width: 33.3333%;
			float: left;
			
			&.left {
				p {
					margin-left: 14px;
				}
			}

			&.middle {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				li {
					text-align: center;
					float: left;

					&:last-child {
						a {
							&:after {
								content: '';
							}
						}
					}
				}

				a {
					display: block;
					padding: 0 20px;
					text-decoration: none;
					color: $text-color;
					line-height: 40px;
					position: relative;

					&:hover,
					&:focus {
						text-decoration: underline;
					}

					&:after {
						content: '/';
						position: absolute;
						right: 0;
						top: 0;
						color: $text-color;
					}
				}
			}

			&.right {
				text-align: right;

				.controls {
					position: absolute;
					right: 0;
				}

				.prev,
				.next,
				.galleryClose {
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					color: #ccc;
					font-size: 16px;
					display: block;
					float: left;
					text-decoration: none;
					margin: 0 2px;
				}

				.bar {
					background: #fff;
					height: 2px;
					width: 15px;
					margin-left: auto;
					margin-right: auto;

					&:first-child {
						transform: rotate(45deg);
						margin-top: 19px;
					}

					&:last-child {
						transform: rotate(-45deg);
						margin-top: -2px;
					}
				}
			}
		}

		p {
			color: $text-color;
		}
	}
}
