// San Francisco Web fonts
@font-face {
	font-family: 'MyWebFont';
	src: url('/assets/fonts/sanfranciscodisplay-regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('/assets/fonts/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/assets/fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
		url('/assets/fonts/sanfranciscodisplay-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('/assets/fonts/sanfranciscodisplay-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('/assets/fonts/sanfranciscodisplay-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}