.grid-item {
	display: block;
	position: relative;
	overflow: hidden;
	background: rgba(30, 26, 33, 1);
	height: 320px;

	img {
		max-width: 100%;
		height: auto;
		display: block;
		transform: scale(1, 1);
		opacity: 1;
		transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
	}
	
	@media only screen and (min-width: 768px) {
		height: auto;
	}


	&.grid-item--width2 {

		@media only screen and (max-width: 768px) {
			
			img {
				max-height: 100%;
				max-width: none;
				width: auto;
				margin-left: -50%;
			}
		}
	}

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		background: rgba(30, 26, 33, 0.97);
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}

	.content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 41;
		opacity: 0;
		color: $text-dark;
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

		.cornertriangle {
			left: 1px;
			top: 1px;
			position: absolute;
			border-width: 0 0 0 0;
			transition: all .18s .2s ease-out;
		}
		
		&-project {
			position: absolute;
			bottom: 40px;
			left: 40px;
			right: 40px;
			
			h2 {
				color: $text-blue;
				font-size: 16px;
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: -7px;
				transform: translateY(6px);
				opacity: 0;
			}

			p {
				font-size: 11px;
				font-weight: 400;
				line-height: 130%;
				opacity: 0;
			}
		}

		&-meta {
			position: absolute;
			top: 40px;
			left: 40px;
			
			.label-agency,
			.label-client {
				transform: translateY(10px);
				opacity: 0;
			}

			p {
				font-size: 11px;
				text-transform: uppercase;

				.label {
					color: #403f42;
				}
			}
		}

	}

	&:hover {
		.content {
			opacity: 1;

			&-project {

				h2 {
					transition: all .4s .3s cubic-bezier(0.165, 0.84, 0.44, 1);
					transform: translateY(0);
					opacity: 1;
				}

				p {
					transition: all .4s .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
					opacity: 1;
				}
			}

			&-meta {

				.label-client {
					transition: all .35s .2s cubic-bezier(0.165, 0.84, 0.44, 1);
					transform: translateY(0);
					opacity: 1;
				}

				.label-agency {
					transition: all .37s .24s cubic-bezier(0.165, 0.84, 0.44, 1);
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		.cornertriangle {
			border-width: 9px 9px 0 0;
		}

		img {
			transform: scale(.96, .95);
			opacity:.03;
		}

		&:before {
			opacity: 1;
		}
	}
}