/*@charset "UTF-8";

html {
	box-sizing: border-box;
}
body {
	background-color: #eaeaea;
}*/
.fullscreen {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	z-index: 55;
}
#intro_grain,
#intro_grain_container {
	background-color: #1D1920;
}
#intro_triangle_mc {
	position:absolute;
	display: block;
	width: 338px;
	height: 442px;  /* Original is 342px but adding extra height so it centers itself against logo */
	overflow: hidden;
	visibility: hidden;
}
#diagonal_background_lines_container {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	overflow: visible;
}

/*
==========================================
Logo and its letters
==========================================
*/
#site_logo_dark,
#site_logo_light {
	position: absolute;
/*	display: none;
	visibility: hidden; */

	/* Temp please change to actual !!!!!!!!!!!!!!!!!!!!!!!!!! <<<<<<<<<<<< !!!!!!!!!!!!!*/
	left: 0;
	top: 0;
}
.logo {
	position: absolute;
	display: block;
	width: 115px;
	height: 41px;
	visibility: hidden;
}
.centered {
	padding: 0;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0; 
	right: 0;
}
.letter {
	position:absolute;
	display: block;
	width: 11px;
	background-color: white;

	/* Prevent background color leak outs */
		 -webkit-background-clip: padding-box; 
		 -moz-background-clip:    padding; 
	background-clip:              padding-box;

	   -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.letter_dark {
	background-color: #342E3A;
}
.d1__a1 {
		-webkit-border-top-left-radius: 46.2%;
		-moz-border-radius-topleft:     46.2%;
	border-top-left-radius:             46.2%;

		-webkit-border-bottom-left-radius: 46.2%;
		-moz-border-radius-bottomleft:     46.2%;
	border-bottom-left-radius:             46.2%;

	clip:rect(0 11px 28px 0);
}
.d1 {
	width: 28px;
	height: 28px;
	left: 0;
	top: 13px;
	visibility: hidden;  
}
.d2 {
	position: absolute;
	width: 11px;
	height: 41px;
	left: 13px;
	top: 0;
	overflow: hidden;
	clip:rect(0 11px 41px 0);
	visibility: hidden;

	   -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.d2_top__t1_top {
	width: 28px;
	height: 28px;
	left: 0;
	top: 0;

		-webkit-border-top-left-radius: 46.2%;
		-moz-border-radius-topleft:     46.2%;
	border-top-left-radius:             46.2%;
}
.d2_bottom__t1_bottom {
	width: 28px;
	height: 28px;
	right: 0;
	bottom: 0;

		-webkit-border-bottom-right-radius: 46.2%;
		-moz-border-radius-bottomright:     46.2%;
	border-bottom-right-radius:             46.2%;
}
.a1 {
	width: 28px;
	height: 28px;
	left: 26px;
	top: 13px;
	visibility: hidden;
}
.a2 {
	position: absolute;
	width: 11px;
	height: 28px;
	left: 39px;
	top: 13px;
	overflow: hidden;
	clip:rect(0 11px 28px 0);
	visibility: hidden;
}
.a2_top__v1_top {
	width: 28px;
	height: 28px;
	right: 0;
	top: 0;

		-webkit-border-top-right-radius: 46.2%;
		-moz-border-radius-topright:     46.2%;
	border-top-right-radius:             46.2%;

	clip:rect(0 28px 17px 0);
}
.a2_bottom__v1_bottom {
	width: 28px;
	height: 28px;
	left: 0;
	bottom: 0;

		-webkit-border-bottom-left-radius: 46.2%;
		-moz-border-radius-bottomleft:     46.2%;
	border-bottom-left-radius:             46.2%;

	clip:rect(14px 11px 28px 0);
}
.v1 {
	position: absolute;
	width: 11px;
	height: 28px;
	left: 52px;
	top: 13px;
	overflow: hidden;
	clip:rect(0 11px 28px 0);
	visibility: hidden;
}
.v2 {
	position: absolute;
	width: 11px;
	height: 28px;
	left: 65px;
	top: 13px;
	overflow: hidden;
	clip:rect(0 11px 28px 0);
	visibility: hidden;
}
.v2_top {
	width: 28px;
	height: 28px;
	left: 0;
	top: 0;

		-webkit-border-top-left-radius: 46.2%;
		-moz-border-radius-topleft:     46.2%;
	border-top-left-radius:             46.2%;

	clip:rect(0 11px 17px 0);
}
.v2_bottom {
	width: 28px;
	height: 28px;
	right: 0;
	bottom: 0;

		-webkit-border-bottom-right-radius: 46.2%;
		-moz-border-radius-bottomright:     46.2%;
	border-bottom-right-radius:             46.2%;

	clip:rect(14px 28px 28px 0);
}
.i1 {
	width: 28px;
	height: 28px;
	left: 61px;
	top: 0;

		-webkit-border-top-right-radius: 46.2%;
		-moz-border-radius-topright:     46.2%;
	border-top-right-radius:             46.2%;

	clip:rect(0 28px 11px 17px);
	visibility: hidden;
}
.i2 {
	position: absolute;
	width: 11px;
	height: 28px;
	left: 78px;
	top: 13px;
	overflow: hidden;
	clip:rect(0 11px 28px 0);
	visibility: hidden;
}
.i2_top {
	width: 14px;
	height: 14px;
	left: 0;
	top: 0;
}
.i2_bottom {
	width: 28px;
	height: 28px;
	left: 0;
	bottom: 0;

		-webkit-border-bottom-left-radius: 46.2%;
		-moz-border-radius-bottomleft:     46.2%;
	border-bottom-left-radius:             46.2%;

	clip:rect(0 11px 28px 0);
}
.t1 {
	position: absolute;
	width: 11px;
	height: 41px;
	left: 91px;
	top: 0;
	overflow: hidden;
	clip:rect(0 11px 41px 0);
	visibility: hidden;
}
.t2 {
	width: 24px;
	height: 24px;
	left: 91px;
	top: 0;

		-webkit-border-bottom-right-radius: 46.2%;
		-moz-border-radius-bottomright:     46.2%;
	border-bottom-right-radius:             46.2%;

	clip:rect(13px 24px 24px 13px);
	visibility: hidden;
}
.star_mc {
	position: absolute;
	display: block;
	width: 11px;
	height: 11px;
	left: 104px;
	top: 0;
	overflow: hidden;
	visibility: hidden;
}
.star {
	position: absolute;
	display: block;
	left: -7px;
	top: -9px;

		-moz-transform:    scale(.42, .42);
		-webkit-transform: scale(.42, .42);
		-ms-transform:     scale(.42, .42);
		-o-transform:      scale(.42, .42);
	transform:             scale(.42, .42);

	visibility: hidden;
}
.tm {
	position: absolute;
	display: block;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;

	left: 104px;
	top: -11px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: left;
	vertical-align: baseline;

		-moz-transform:    scale(.2, .2);
		-webkit-transform: scale(.2, .2);
		-ms-transform:     scale(.2, .2);
		-o-transform:      scale(.2, .2);
	transform:             scale(.2, .2);
	
	opacity: .25;
	visibility: hidden;
}

/*
==========================================
Rectangles that appear initially
==========================================
*/
.rec_intro {
	position:absolute;
	display: block;
	width: 11px;
	height: 100%;
	top: -50%;
	background-color: #19D9E5;
}
.rec_site {
	position:absolute;
	display: block;
	width: 11px;
	height: 41px;
	top: 0;
	background-color: #19D9E5;
}
.rec1 { left: 0;    }
.rec2 { left: 13px; }
.rec3 { left: 26px; }
.rec4 { left: 39px; }
.rec5 { left: 52px; }
.rec6 { left: 65px; }
.rec7 { left: 78px; }
.rec8 { left: 91px; }





