// Main Grid and Responsive Styles
// *,
// *:after,
// *:before {
// 		margin: 0;
// 		padding: 0;
// 		box-sizing: border-box;
// }

.wrapper {
	position: relative;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}

.row,
.wrapper {
	@extend %clearfix;
}

[class*='column-'] {
		float: left;
		width: 100%;
		min-height: 1px;
}

@media only screen and (min-width: #{$breakpoint-small}) {
	.wrapper {
		width: 95%;
		max-width: $grid-max-width;
	}

	[class*='column-'] {
		padding-left: $gutter;
		padding-right: $gutter;
	}

	.row {
		margin-right: -$gutter;
		margin-left: -$gutter;
	}

	@for $i from 1 through 12 {
		// looped content
		.column-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

@media only screen
	and (min-width: #{$breakpoint-small})
	and (max-width: #{$breakpoint-large}) {
	[class*='column-medium-'] {
			float: left;
			width: 100%;
			min-height: 1px;
	}
}