// WORK PAGE STYLES

.work {
	width: 100%;
	min-height: $header-height;
	position: relative;
	position: fixed;
	z-index: 0;
	
	.filter {
		width: 100%;
		overflow: hidden;

		.filter-icon {
			margin-left: 10px;
		}
		
		.label {
			float: left;
			display: inline;
			padding: 30px;
			padding-right: 20px;
			color: #95e2e7;
		}
		
		ul {
			margin: 0;
			list-style: none;
		}

		&-item {
			float: left;
			position: relative;

			&:first-child {
				&:before {
					content: none;
				}
			}

			&:before {
				content: "|";
				position: absolute;
				color: $text-gray;
				font-weight: 100;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			a {
				display: block;
				padding: 30px;
				text-decoration: none;
				color: $text-gray;
				
				&:active,
				&:hover,
				&:focus,
				&.active {
					color: $text-black;
				}
			}
		}
	}
	
	.grid-container {
		overflow: hidden;
		background: $david-black;
	}

	.container {
		padding-top: $header-height;
		height: 100%;
		max-width: 400px;
		margin: 0 auto;

		@media only screen and (min-width: 768px) {
			max-width: 800px;
		}

		@media only screen and (min-width: 1024px) {
			max-width: 1020px;
		}

		@media only screen and (min-width: 1200px) {
			max-width: 1200px;
		}
	}

	.grid {
		@include clearfix;

		&-sizer,
		&-item {
			width: 100%;
		}

		&-item--width2 {
			width: 100%;
		}
		
		@media only screen and (min-width: 768px) {
			&-sizer,
			&-item {
				width: 50%;
			}

			&-item--width2 {
				width: 100%;
			}
		}

		@media only screen and (min-width: 1024px) {
	
			&-sizer,
			&-item {
				width: 33.333333333%;
			}

			&-item--width2 {
				width: 66.666666666%;
			}
		}
		
	}
}